## print statement

print statement - gives the output as required, everything in string is in '', and numbers just like that.

In [2]:
print("Hello World")

Hello World

In [4]:
print('1')

1

In [5]:
print(1)

1

In [6]:
a=1
print(a)

1

In [7]:
a=1
a

1

## comments

comments in python are given by # for single line comments
''' for multiple line comments

In [8]:
#this is a python comment example
x=123
print(x)

123

In [9]:
'''this is a python
multi line comment example'''
x="A"
print(x)

A

## Escape Sequence

\'	Single Quote	- when we are using single quotes and want to give Apostrophe in middle of the string, we use \' 

\\	Backslash	- when we are using \ in string, we have to go with \\ because, python considers \ as a special character

\n	New Line	- the string will go to new line

\r	Carriage Return	- replaces the string after the \r with the start

\t	Tab	- gives tab space in between the string

\b	Backspace - can be used as a backspace

In [15]:
string='that\'s a string'
print(string)

that's a string

In [24]:
string='that is a string\\text'
print(string)

that is a string\text

In [29]:
string="that is \na string"
print(string)

that is
a string

In [37]:
string="this is \ra string"
print(string)

a string

In [38]:
string="this is a \rstring"
print(string)

strings a

In [39]:
string="this is \t string"
print(string)

this is 	 string

In [41]:
string="this is a\b string"
print(string)

this is  string

sep - seperator, seperates the string as per the given. default - " "
end - end of the string, ends the string as per the given. default - "\n"

In [43]:
print("Hello","World")

Hello World

In [58]:
print("Hello","World",end="\n")
print("Hello","World",end=":")
print("Hello","World",sep="0")

Hello World
Hello World:Hello0World

## Values And Variables

In [62]:
#here '=' is the assigment operator
x=10 
x

10

## Operators and Operations

In [73]:
x=10
y=2
print(x+y) #addition
print(x-y) #subtraction
print(x*y) #multiplication
print(x/y) #float division
print(x//y) #int division
print(y%x) #remainder

12
8
20
5.0
5
2

## What is the Type?

In [76]:
x=10
y=10.3
type(x),type(y)

(int, float)

In [68]:
x=10
w=10.2
y="Chaitra"
z=True
print(type(x))
print(type(w))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [70]:
type(1),type("a"),type(1.0)

(int, str, float)

## STRINGS

In [1]:
name="Chaitra"
name

'Chaitra'

In [82]:
#all should be of the same quotations
print("ABC" + "abc" + "aBc")
print('ABC' + 'abc' + 'aBc')

ABCabcaBc
ABCabcaBc

In [83]:
"ABC" + 'abc' + 'aBc"

SyntaxError: unterminated string literal (detected at line 1) (3752326365.py, line 1)

In [93]:
x=10
y=2

In [94]:
#return bool values
x==y, x<y, x>y, x!=y, x>=y, x<=y

(False, False, True, True, True, False)

## Print statements

In [111]:
x=4
y=9
print("There are",x,"boys and",y,"girls")

There are 4 boys and 9 girls

In [112]:
x=int(input("Enter the number of boys"))
y=int(input("Enter the number of girls"))
print("There are",x,"boys and",y,"girls")
print("The total number of students are",x+y)

Enter the number of boys 8
Enter the number of girls 6

There are 8 boys and 6 girls
The total number of students are 14

In [113]:
str="Python"
print(str,"is a programming language")

Python is a programming language

In [114]:
str=input("Enter your name")
print("My name is",str)

Enter your name Chaitra

My name is Chaitra

In [133]:
#assigning bool to a variable via a condition

age=25
category=(age>26)
print(category)

False

In [41]:
#difference between assingment operator and equal to operator

x=10
print("the value of x is",x)
#assinging value - 10 to the variable - x
print(x==10)
#checking if the value is 10, returns only boolean value
print(x==2)
#checking if the value is 2, returns only boolean value

the value of x is 10
True
False

## computing math statements

In [136]:
10+2*4  

#here multiplication is done first and then the addition

18

In [149]:
(10+2)*4

#here it follows BODMAS rule
#(10+2)*4
#12*4
#48

48

In [148]:
25/5*2+(4-2)**2


##25/5*2+(4-2)**2
##->25/5*2+2**2
##->25/5*2+4
##->5*2+4
##->10+4
##->14

14.0

In [147]:
(15-5)*2**3+4/2

##(15-5)*2**3+4/2
##10*2**3+4/2
##10*2**3+4/2
##10*8+4/2
##10*8+2
##80+2
##82

82.0

## Precision

-> round function - rounds off the specified decimal points

-> syntax - round(number,points)

In [3]:
x=10
y=3
x/y

3.3333333333333335

In [4]:
round(x/y,5)

3.33333

In [8]:
round(9.298939,2)

#it rounded off to 2 decimal points, coz round off to 9 is 0

9.3

## TypeCast

-> We cannot convert a string to integer but vice verse yes.
-> Only when we store the typecast in variable, the conversion stays.

In [20]:
name="Chaitra"

In [21]:
type(name)

str

In [26]:
int(name)

ValueError: invalid literal for int() with base 10: 'Chaitra'

In [23]:
age = 24
type(age)

int

In [38]:
x= str(age)
type(x)

str

## Boolean Codes

Value of True = 1

Value of False = 0

In [44]:
True+True+False

2

In [47]:
True == 0

False

##### Or Operator

-> True if any one is True

In [10]:
False|False, False|True, True|False, True|True

#0 or 0 = 0
#0 or 1 = 1
#1 or 0 = 1
#1 or 1 = 1

(False, True, True, True)

In [9]:
False or False, False or True, True or False, True or True

(False, True, True, True)

#### And Operator

-> True only if both are True

In [11]:
False and False, False and True, True and False, True and True

#0 and 0 = 0
#0 and 1 = 0
#1 and 0 = 0
#1 and 1 = 1

(False, False, False, True)

In [12]:
False & False, False & True, True & False, True & True

(False, False, False, True)

#### Not Operator

-> True for False

-> False for True

In [13]:
not False

#not 0 = 1

True

In [87]:
not True

False

In [88]:
f = False
not f

True

In [89]:
f = True
not f

False

In [90]:
not(True or True)

False

In [91]:
not(False and True)

True

In [102]:
var = 8
not ((var < 7) or (var > 7))
#checking if var is lesser than 7 - false
# checking if var is greater than 7 - true
# false or true
# true
# not(true)
# false

False

In [103]:
var = int(input(""))
check_point=int(input(""))
not ((var < check_point) or (var > check_point))

 3
 3

True

In [105]:
if(True):
    print("Hi")
else:
    print("Bye")

Hi

In [17]:
if(False):
    print("Go")
else:
    print("stay")

#default is true always

stay

In [22]:
#Assign boolean values representing weather conditions to variables, then print them.

is_rainy=False
print("Is it raining?",not(is_rainy))

Is it raining? True